__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
venv/
.env
*.jpg
*.png
!docs/**
.DS_Store
.streamlit/secrets.toml
out/
examples/out/
p10_out.txt
*.egg-info/
out_test.txt
